In [52]:
#1
name = "Bodhisatwa"
print(name)

Bodhisatwa

In [53]:
#2
str = "Hello World"
length = len(str)
print("Length of the string:", length)

Length of the string: 11

In [54]:
#3
str1 = "Python Programming"
sliced_string = str1[:3]
print("Sliced string:", sliced_string)

Sliced string: Pyt

In [55]:
#4
str2 = "hello"
uppercase_string = str2.upper()
print("Uppercase string:", uppercase_string)

Uppercase string: HELLO

In [56]:
#5
str3 = "I like apple"
new_string = str3.replace("apple", "orange")
print("Updated string:", new_string)

Updated string: I like orange

In [57]:
#6
numbers = list(range(1, 6))
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [58]:
#7
numbers1 = [1, 2, 3, 4]
numbers1.append(10)
print("Updated list:", numbers1)

Updated list: [1, 2, 3, 4, 10]

In [59]:
#8
numbers2 = [1, 2, 3, 4, 5]
numbers2.remove(3)
print("Updated list:", numbers2)

Updated list: [1, 2, 4, 5]

In [60]:
#9
letters = ['a', 'b', 'c', 'd']
second_element = letters[1] 
print("Second element:", second_element)

Second element: b

In [61]:
#10
numbers3 = [10, 20, 30, 40, 50]
numbers3.reverse()
print("Reversed list:", numbers3)

Reversed list: [50, 40, 30, 20, 10]

In [62]:
#11
my_tuple = (100, 200, 300)
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [63]:
#12
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2] 
print("Second-to-last element:", second_to_last)

Second-to-last element: blue

In [64]:
#13
numbers4 = (10, 20, 5, 15)
min_number = min(numbers4)
print("Minimum number:", min_number)

Minimum number: 5

In [65]:
#14
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

In [66]:
#15
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [67]:
#16
set = {'a', 'b', 'c'}
print("Set:", set)

Set: {'b', 'a', 'c'}

In [68]:
#17
set1 = {1, 2, 3, 4, 5}
set1.clear()  
print("Cleared set:", set1)

Cleared set: set()

In [69]:
#18
set2 = {1, 2, 3, 4}
set2.remove(4)  
print("Updated set:", set2)

Updated set: {1, 2, 3}

In [70]:
#19
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
union_set = set_1.union(set_2)  
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [71]:
#20
set_3 = {1, 2, 3}
set_4 = {2, 3, 4}
intersection_set = set_3.intersection(set_4) 
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

In [72]:
#21
person = {
    "name": "Bodhisatwa",
    "age": 25,
    "city": "Bhubaneswar"
}

print("Dictionary:", person)

Dictionary: {'name': 'Bodhisatwa', 'age': 25, 'city': 'Bhubaneswar'}

In [73]:
#22
person1 = {'name': 'John', 'age': 25}
person1['country'] = 'USA' 
print("Updated dictionary:", person1)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [74]:
#23
person2 = {'name': 'Alice', 'age': 30}
name_value = person2.get('name')
print("Name:", name_value)

Name: Alice

In [75]:
#24
person3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person3['age'] 
print("Updated dictionary:", person3)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [76]:
#25
person4 = {'name': 'Alice', 'city': 'Paris'}

if "city" in person4:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [77]:
#26
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('a', 'b', 'c')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'Paris'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

In [78]:
#27
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [32, 34, 43, 54, 67]

In [79]:
#28
my_list1 = ["Ram", "Shyam", "Hari", "Raju", "Pinku"]
third_index_element = my_list[3]
print("Element at index 3:", third_index_element)

Element at index 3: 4

In [80]:
#29
dict_1 = {'a': 1, 'b': 2}
dict_2 = {'c': 3, 'd': 4}
combined_dict = dict_1.copy()
combined_dict.update(dict_2)
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [83]:
#30
my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print("Set:", my_set)

Set: {'banana', 'cherry', 'apple'}